@charset "utf-8";
/* CSS Document */

/* Base Rules =============================== */
header {padding:20px 0px 0px;}

header #bcit_logo {
  display: inline-block;
  height:20px;
  position: relative;
  margin:0px;

}

header h2 {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  margin:0px;
  position: relative;
  top:2px;
  left:2px;
}


header h1 {
  font-weight: bold;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-top: 0px;
}

header .breadcrumb {
  padding:2px 0px;
  margin: 0px;
}

header .breadcrumb p {margin:0px;}



article {
  padding: 0px 50px 20px 20px;
  margin: 20px 0;
}

article h2 {
  padding:10px 20px;
  margin-left: -20px;
  margin-right: -50px;

}

article ul {margin: 20px 0px;}
article ul ul {margin: 10px 0px;}

article p {margin-left: 20px;}

footer {
    padding-top: 30px;
    padding-bottom: 15px;
}


.searchinput {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
  position: relative;
  background: #fefefe;
  margin:12px 5px 12px 0px;
}
.searchinput input {
  background: none;
  border: none;
  width: 80%
}
.searchinput button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.main ul.nav {
  margin-top: 20px;
  margin-bottom: 10px;
}
.nav li {
  margin:1px 0;
}
.nav li a {
  text-align: center;
  padding: 5px 10px;
  color:#0A6DFF;
  background: #f9f9f9;
}
.nav > li:hover > a {
  background: #0A6DFF;
  color:#fff;
}
.nav > li.active > a {
  border-left: 2px solid #0A6DFF;
  font-weight: bold;
}
.nav li > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#other_links ul, #lecture_list ul {
  margin: 0 3px;
  padding: 0;
  display: none;
}
#other_links ul > li a, #lecture_list ul > li a {
  background: #e0e0e0;
}
#other_links ul > li a:hover, #lecture_list ul > li a:hover {
  background: #555;
}


/* State Rules =============================== */

@media (max-width: 767px) { 
  #lecture_nav {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #lecture_nav {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  
}
@media (min-width: 1200px) {

}
/* Theme Rules =============================== */

body {
  background: #eee;
  font-family: 'Lato','Helvetica',sans-serif;
  font-weight:400;
  font-size: 1.6em;
}

header {
  background-color: #fff;
}

header h1 {
  color: #0a6dff;
}

header .breadcrumb {
  background-color: #aaa;
  color:#fff;
  font-size: 0.9em;
  border-radius: 0px;
}

header em {font-weight: 600;font-style: normal;}

h1,h2,h3 {
  font-family: 'Roboto Slab','Helvetica',sans-serif;
  font-weight:500;
}

h2 {
  color:#333;
  font-weight: 600;
}

h3 {
  border-left: 3px solid #333;
  padding-left: 7px;
}

article {
  background-color: #fff;
}

article h2 {
  background-color:#ccc;
}

footer {
  background-color: #0a6dff;
}

footer a {
  color:#eee;
}

footer a:hover {
  color:#aaa;
  text-decoration: none;
}

footer section.contact figure {
  display: block;
  margin-bottom: 20px;
}
footer section.contact img {
  height:50px;
  width:50px;
  border-radius: 50%;
  display:inline-block;
  float:left;
  margin-right: 10px;
  margin-top: -2px;
}

footer section.contact figcaption {
  font-size: 1.2em;
  color:#fff;
  margin-bottom: -3px;
}

footer section.contact em {font-weight: 600;}

footer section.contact .left_float {
  display:inline-block;
  width:auto;
}

footer section.valdtr_links a,
footer section.login_link a {
  display: inline-block;
  padding: 10px;
  margin-top: 3px;
  background-color: #fff;
  color:#0a6dff;
  font-size: 0.9em;
}

footer section.login_link a:hover {
  background-color: #333;
  color:#0a6dff;
}









